<h2> Add a Client </h2>

<!-- add a form for adding a client -->
<%= form_for @client do |f| %>

  <%= f.label "Client Name" %>
  <%= f.text_field :clientname %>
  <br><br>
  <%= f.label "Commissions Type" %>
  <%= f.text_field :commissionstype , placeholder: "15% of gross"%>
  <br><br>
  <%= f.label "Account Manager" %>
  <%= f.text_field :AM_name %>
  <br><br>
  <%= f.label "PM or AC" %>
  <%= f.text_field :PM_or_AC_name %>
  <br><br>
  <%= f.label "Second PM or AC" %>
  <%= f.text_field :PM_or_AC2_name %>
  <br><br>
  <%= f.label "Analytics Lead" %>
  <%= f.text_field :Analytics_name %>
  <br><br>
   <%= f.label :logourl %>
  <%= f.file_field :logourl %>
  <br><br>
  <%= f.submit 'Create Company', :class => 'btn btn-primary btn-lg'  %>

<% end %>


