<h2> Add a Client </h2>

<!-- add a form for adding a client -->
<%= form_for @client do |f| %>

  <%= f.label "Client Name" %>
  <%= f.text_field :clientname %>
  <br><br>
  <%= f.label "Commissions Type" %>
  <%= f.text_field :commissionstype , placeholder: "15% of gross"%>
  <br><br>
  <%= f.label :AM_name %>
  <%= f.text_field :AM_name %>
  <br><br>
  <%= f.label :PM_or_AC_name %>
  <%= f.text_field :PM_or_AC_name %>
  <br><br>
  <%= f.label :PM_or_AC2_name %>
  <%= f.text_field :PM_or_AC2_name %>
  <br><br>
  <%= f.label :Analytics_name %>
  <%= f.text_field :Analytics_name %>
  <br><br>
  <%= f.submit 'Create Company', :class => 'submit_button'  %>

<% end %>


