

<div class = "row">
  <div class ="col-md-8">
    <img src="<%=@client.logourl.url%>" class="logopic">
    <div class="clear"></div>
    <h1><%= @client.clientname %></h1>
    <h5>Commissions structure:<%= @client.commissionstype %> </h5>
  </div>
  <div class="col-md-4">
    <h5><b>Team</b></h5>
    <% if @client.AM_name %>
        <p> AM: <%= @client.AM_name %></p>
        <% end%>
    <% if @client.PM_or_AC_name %>
      <p>PM/AC: <%= @client.PM_or_AC_name %></p>
      <% end %>
    <% if @client.PM_or_AC2_name %>
      <p>PM/AC: <%= @client.PM_or_AC2_name %></p>
      <% end %>
    <% if @client.Analytics_name %>
      <p>Analytics: <%= @client.Analytics_name %></p>
      <% end %>
  </div> <!--end team col div-->

</div><!--end row-->
      
<h3> Schedule</h3>


<%= link_to "Add to schedule for #{@client.clientname}", new_airing_path(client_id: @client.id) %>

<table class = "schedule">
  <th>Show</th>
  <th>Date</th>
  <th>Gross</th>
  <th>Net</th>
  <% @client.airings.each do |g|%>
  <tr>
    <td><%=g.show.showname%></td>
    <td><%=g.airdate%></td>
    <td>$<%=g.gross_cost%></td>
    <td>$<%=g.net_cost%></td>
  </tr>
  <%end%>
  <tr>
    <td>~~~TOTALS~~~</td>
    <td> </td>
    <td>$<%=@client.airings.sum(:gross_cost)%></td>
    <td>$<%=@client.airings.sum(:net_cost)%></td>
  <tr>
</table> 
