		<%= form_for @dog do |f| %>
		Name
		<%= f.text_field :name %> </br>
		Breed
		<%= f.text_field :breed %> </br>
		Age
		<%= f.text_field :age %> </br>
		Picture URL 
		<%= f.text_field :img_url %> </br>
		<%= select_tag(:gender, options_for_select([["Male", 1], ["Female", 2]]))%>
		<%= f.submit "Add a dog" %>
		<% end %>

		<p><%= @errors.full_messages %> </p>